@tailwind base;
@tailwind components;
@tailwind utilities;


[data-nextjs-toast-wrapper] {
  display: none !important;
}


.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


body{
  background-color:#F7F5F2
}